/* .main{
    color: aqua;
    background-color: blue;
} */

.title_name{
    color: gray;
}

/* .image{
    height: 50px;
    width: 50px;

} */

/* .o_data_cell ,cursor-pointer ,o_field_cell ,o_list_char{
    background-color: rgb(105, 58, 58);
} */